@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
    height: 10vh;
    width: 100%;
    padding: 10px 30px;
    color: #fff;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}