@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.hide {
    visibility: hidden;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 10px 70px;
    color: #fff;
    z-index: 5;

   /* From https://css.glass */
   background: rgba(23, 3, 96, 0.7);
   border-radius: 1px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(13.3px);
   -webkit-backdrop-filter: blur(13.3px);
   border: 1px solid rgba(23, 3, 96, 0.7);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

ul li {
    list-style-type: none;
    padding: 5px 5px;
    margin: 0 5px;
    font-size: 1.17em;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}

.download-button {
    background-color: #fff;
    color: blueviolet;
    border-radius: 3px;
    padding: 5px;
}

.container {
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 96vh;
    width: 100%;
    padding: 0 80px;
}

.left {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 9em;
    width: 14em; 
    font-size: 2em;
    left: 80px;
    top: 10em;
    cursor: default;
}

.left p {
    font-size: 0.6em;
}

.left div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.buttons {
    background-color: transparent;
    padding: 8px;
    border: 3px solid #fff;
    border-radius: 15px;
    color: #fff;
    font-size: 0.6em;
    font-weight: 500;
    margin-right: 30px;
    width: 7em;
    text-align: center;
}
.buttons:hover {
    cursor: pointer;
    background-color: #fff;
    color: rgb(52, 26, 112);
    transition: ease 300ms;
}

.center {
    position: absolute;
    top: 80px;
}
.center img {
    width: 60em;
    z-index: 2;
}

.right {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 80px;
    top: 12em;
    cursor: default;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: blueviolet;
    padding: 10px;
    margin: 8px;
    height: 8em;
    width: 8em;
    border-radius: 5px;
}

.value {
    font-size: 2em;
    font-weight: 900;
}

.value-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.container2 {
    position: relative;
    background-color: rgb(246, 233, 233);
    height: 10vh;
    width: 100vw;
    /* padding: 10px; */
    padding: 0 80px;
    z-index: 5;
    color: blueviolet;
}

.book-appointment {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: -60px;
    background-color: #fff;
    height: 15vh;
    padding: 10px 30px;
    width: 88vw;
    left: 80px;
}

.book-appointment form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.book-appointment input, select {
    width:30em;
    height: 40px;
    font-size: 1em;
    margin-right: 30px;
    border: 1px solid blueviolet;
    border-radius: 3px;
    padding: 5px 10px;
}

.book-appointment button {
    width: 160px;
    height: 40px;
    background-color: blue;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
}

/* This style is for the login page and signup page */
.register {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    padding-top: 10vh;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 50, 97);
    width: 50%;
    color: #fff;
    font-size: 1.4em;
    padding: 50px;
}

.left-side p{
    margin: 20px 0;
    width: 23em;
}

.buttonsign {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: rgb(50, 50, 97);
    font-weight: 500;
    cursor: pointer;
    width: 5.5em;
    height: 1.6em;
    /* text-align: center; */
    align-items: center;
    border-radius: 25px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 50%;
    font-size: 1.4em;
    padding: 30px;
}

.right-side svg {
    height: 20px;
    width: 20px;
    opacity: 0.4;
    margin-right: 10px;
}

.right-side h1 {
    margin-bottom: 20px;
}

.right-side input {
    border: 1px solid transparent;
    background-color: aquamarine;
    height: 2.4em;
    width: 30em;
    border-radius: 25px;
    padding: 10px;
}

.right-side ::-webkit-input-placeholder { 
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    color: hsl(12, 63%, 3%);
}

.right-side form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side button{
    position: absolute;
    right: 30%;
    bottom: -15%;
    width: 40%;
    align-items: center;
    border-radius: 25px;
    height: 2.7em;
    border: none;
    color: #fff;
    background-color: rgb(50, 50, 97);
    cursor: pointer;
}